body{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  background-color: #2a9d8f;
}

.progress{
  position: relative;
  height: 10px;
  width: 1110%;
  border: 1px solid #f4a261;
  border-radius: 15px;
}